{
  "bot": {
    "token": "discordbottoken",
    "prefix": "$",
    "debug": false
  },
  "dngr": {
    "port": 49003,
    "user": "dngr",
    "pass": "dngr"
  },
  "botspamchannels": "671165066862788622"
}
