{
  "bot": {
    "token": "discordbottoken",
    "prefix": "$",
    "debug": false
  },
  "dngr": {
    "port": 49003,
    "user": "lbry",
    "pass": "lbry"
  },
  "sandboxchannel": "#671165066862788622"
}
